/* rmm sass variables */
$primary-color: #7eb4f4;

$primary-bg: #e3e3e3;
$active-bg: #9aa5a6;
$file-bg: #f7f8f9;

$primary-font: #344052;
$secondary-font: #666666;
$light-font: #99a4a6;

$secondary-color: #00a65a;
$secondary-color-dark: #394263;
